@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Joti One';
  src: url('fonts/JOTIONE-REGULAR.TTF') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/INTER.TTC') format('truetype');
}


* {
  min-width: 0;
}

body {
  font-family: 'Inter';
}

.titleLogo {
  -webkit-text-stroke: 20px;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
}

.divLogin {
  transition: all .6s ease-in-out;
  animation: move;
  border-radius: 0px 120px 120px 0px;
}

.divLogin.active {
  transform: translateX(100%);
  border-radius: 120px 0px 0px 120px;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 10;
  }
}

.underline-effect {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.underline-effect::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.4s ease, left 0.4s ease;
}

.underline-effect.active::after {
  width: 100%;
  left: 0;
}
.underline-effect:hover::after {
  width: 100%;
  left: 0;
}

.order-button {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.cardText {
  text-wrap: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}