@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Joti One';
  src: url('fonts/JOTIONE-REGULAR.TTF') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/INTER.TTC') format('truetype');
}


* {
  min-width: 0;
}

body {
  font-family: 'Inter';
}

.titleLogo {
  -webkit-text-stroke: 20px;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
}

.divLogin {
  transition: all .6s ease-in-out;
  animation: move;
  border-radius: 0px 120px 120px 0px;
}

.divLogin.active {
  transform: translateX(100%);
  border-radius: 120px 0px 0px 120px;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 10;
  }
}